nav {
    background-color: gray;
    color: white;
}

.dropdown-menu {
    background-color: gray;

}

a:hover {
    color: black;
}

.dropdown-menu {
    border: none;
}

a.dropdown-item:active {
    background-color: white;
}

li, a {

    text-decoration: none;
    color: white;
}